* {
   margin: 0;
   padding: 0;
}

body {
   background-color: #251749;
}

.header {
   height: 70px;
   color: aliceblue;
   background-color: #495579;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.header-title{
   justify-content: center;
   align-items: center;
}


.header img {
   width: 30px;
   height: auto;
   background-color: #251749;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.header img:hover{
   cursor: pointer;
}

.header-input {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
   background-color: #251749;
   border-radius: 20px;
}

.header input {
   width: 300px;
   height: 30px;
   padding: 5px;
   background-color: #251749;
   border: none;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   font-size: 17px;
}
.header input:active{
   color: aliceblue;
}
.header input:focus {
   outline: none;
   color: aliceblue;
   font-size: 17px;
}

::placeholder{
   color: aliceblue;
}

.searched h2 {
   margin: 20px 20px;
   color: aliceblue;
   text-align: center;
}

.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 1em;
}

.movie {
   border-radius: 20px;
   text-align: center;
   width: 250px;
   height: 400px;
   margin: 10px 10px;
   background-color: #03001C;
   color: aliceblue;
   padding: 10px;
}

.movie img {
   margin: 10px 0px;
   border-radius: 10px;
   width: 200px;
   height: 250px;
}


/* Loading */

.loading-container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.sk-chase {
   width: 80px;
   height: 60px;
   position: relative;
   animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
   content: '';
   display: block;
   width: 25%;
   height: 25%;
   background-color: #fff;
   border-radius: 100%;
   animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
   animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
   animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
   animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
   animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
   animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
   animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
   animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
   animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
   animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
   animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
   animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
   animation-delay: -0.6s;
}

@keyframes sk-chase {
   100% {
      transform: rotate(360deg);
   }
}

@keyframes sk-chase-dot {

   80%,
   100% {
      transform: rotate(360deg);
   }
}

@keyframes sk-chase-dot-before {
   50% {
      transform: scale(0.4);
   }

   100%,
   0% {
      transform: scale(1.0);
   }
}